*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


/* --------------- HEADER -------------- */

nav img {
    width: 100px;
    height: 100px;
}

header {
    background-color: rgb(106, 207, 177);
}
/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

header a img{
    width: 250px;
    height: 150px;
}

header {
    background-color: rgb(106, 207, 177);
}


header nav ul{
    list-style: none;
    display: flex;
    
}

header nav ul li {
    margin: 10px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
} */


/* ---------------- MAIN ---------------- */
.hero{
    background-color: #57bd9e;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.hero img{
    width: 700px;
    height: 400px;
}

.hero div h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
}

.hero div p{
    text-align: justify;
    width: 800px;
    height: 40px;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-adopcion{
    background-color: #57bd9e;
    padding: 20px;
}

.hero-adopcion h1{
    text-align: center;
}
/* -------------- TARJETAS ---------------- */
.adoptar {
    background-color: #2ca880;
}

.adoptar .grid-tarjetas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 550px;
    gap: 15px;
    justify-items: center;
    align-items: center;
    background-color: #2ca880;
}

.adoptar h2{
    background-color: rgb(106, 207, 177) ;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 3px rgb(0, 174, 255) solid;
    border-style: double;
    text-transform: capitalize;
} 

.adoptar .grid-tarjetas div{
    border: 2px black solid;
    width: 350px;
    height: 500px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: -7px -2px 37px -2px rgba(73,189,55,1);
    -moz-box-shadow: -7px -2px 37px -2px rgba(73,189,55,1);
    box-shadow: -7px -2px 37px -2px rgba(73,189,55,1);
}

.adoptar .grid-tarjetas-item img{
    width: 350px;
    height: 350px;
    padding: 10px;
}

.adoptar .grid-tarjetas-item p{
    margin: 10px;
}

.adoptar .grid-tarjetas-item a{
    background-color: rgb(106, 207, 177) ;
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-left: 35%;
}

/* FORMULARIO */

.formulario{
    padding: 30px;
    background-color: #14d69f;
}
/* ---------------- FOOTER --------------- */
.grid-footer{
    display: grid;
    gap: 20px;
    /* FILAS */
    grid-template-rows: 1fr;
    /* COLUMNAS */
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #00986c;
    justify-items: center;
    align-items: center;
    padding: 25px;
}

/* footer p{
    background-color: rgb(106, 207, 177);
    text-decoration: none;
    color: black;
    padding: 10px;
    text-align: center;
    color: aqua;
} */

/* PRIMERA IMAGEN DEL FOOTER*/
.primer-item img {
    width: 400px;
    height: 400px;
}

/* IMAGENES REDES SOCIALES FOOTER */
.segundo-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px;
}

.segundo-item div{
    display: flex;
    align-items: center;
}
.segundo-item div img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

/* SEGUNDA IMAGEN DEL FOOTER */
.tercer-item img {
    width: 400px;
    height: 400px;
}


/* ------------------------------------------------ @MEDIA QUERY -------------------------------------------------*/

/* MEDIA QUERY HEADER */ 
@media screen and (max-width: 1191px){
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px;
    }
}

@media screen and (max-width: 923px){
    header nav ul{
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    header nav ul li {
        margin: 0;
        text-align: center;
    }
}
/* MEDIA QUERY HERO*/

@media screen and (max-width: 1547px) {
    .hero{
        background-color: #57bd9e;
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
        justify-content: space-between;
        height: 700px;
    }
}

@media screen and (max-width: 833px) {
    .hero div p{
        text-align: justify;
        width: 600px;
        height: 40px;
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .hero img{
        width: 600px;
    }
}

@media screen and (max-width: 733px) {
    .hero{
        height: 800px;
    }

    .hero p{
        font-size: large;
    }
    
    .hero div p{
        width: 500px;
    }
    .hero img {
        width: 500px;
    }
}

@media screen and (max-width: 649px) {
    .hero {
        height: 720px;
    }
    .hero div p{
        width: 400px;
        font-size: large;
    }
    .hero img {
        width: 400px;
    }
}

@media screen and (max-width: 430px) {
    .hero {
        height: 720px;
    }
    .hero div p{
        width: 300px;
        font-size: large;
    }
    .hero img {
        width: 300px;
    }
}
/* MEDIA QUERY TARJETAS */

@media screen and (max-width: 1148px){
    .adoptar .grid-tarjetas{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 550px;
        gap: 15px;
        justify-items: center;
        align-items: center;
        background-color: #2ca880;
    }
}

@media screen and (max-width: 780px){
    .adoptar .grid-tarjetas{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 550px;
        gap: 15px;
        justify-items: center;
        align-items: center;
        background-color: #2ca880;
    }
}

@media screen and (max-width: 450px) {
    .adoptar .grid-tarjetas div{
        width: 300px;
    }

    .adoptar .grid-tarjetas-item img{
        width: 300px;
        height: 350px;
        padding: 10px;
    }
}

/* MEDIA QUERY FOOTER */
@media screen and (max-width: 1099px) {
    .grid-footer{
        display: grid;
        gap: 20px;
        /* FILAS */
        grid-auto-rows: 400px;
        /* COLUMNAS */
        grid-template-columns: repeat(1,1fr);
        background-color: #00986c;
        justify-items: center;
        align-items: center;
        padding: 25px;
    }   
}

@media screen and (max-width: 450px) {
    .grid-footer img{
        width: 300px;
    }   
}