header {
    background-color: rgb(106, 207, 177);
    nav{
        div{
            a{
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }
 }